<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>A Totally Secure Website</title>
    </head>
    <body>
        <div>
            <h1>A Totally Secure Website</h1>
        </div>
        <div>
            <form method="post">
                <div style="font-size: 30px">
                    Leave a comment to tell us how secure our website is
                </div>
                <div>
                    <textarea style="font-size: 40px" name="comment"></textarea>
                </div>
                <input type="submit">
            </form>
        </div>
    </body>
</html>